@model sampleapp.Models.DataEntryForm

@{
    ViewBag.Title = "DataEntryForm";
}

<h2>DataEntryForm</h2>

<div id="divStudentlist" style="height: 100px; overflow: auto;border:solid; width:150px;">
   @foreach (var names in @Model.StudentNames)  
{  
    var checkBoxId = "chk" + names.Value;  
    var tdId = "td" + names.Value;  
                   <table width="100%">  
                       <tr >  
                           <td width="20px">  
                               <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.Value" />  
                            </td>  
                            <td id="@tdId"  width="100px">  
                                @names.Text  
                           </td>  
                       </tr>  
                        
                   </table>  
  
}  

</div>


